html,body{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    background-color: #C7C7C7;
    font-family: 'Roboto', sans-serif;
}

.header{
    /* width: 1280px; */
    width: 100%;
    height: 134px;
    top: 52px;
    left: 0px;
    margin: auto;
    border: 1px solid;
}
.top-bar{
    display: flex;
    height: 30px;
    align-items: center;
}
.top-bar-div1{
    margin-left: 63%;
    color: #1486BA;
    height: 100%;
}
.top-bar-div2{
    margin-left: 5%;
    color: #1486BA;
    background-color: #F3F2F2;
    height: 100%;
}
.main-bar{
    display: flex;
    align-items: center;
}
.logo{
    width: 265px;
    height: 70px;
    margin: 10px;
    background-color: gray;
    text-align: center;
    color: palevioletred;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credibility{
    width: 230px;
    height: 28px;
    font-family: MuseoSlab-700,Perpetua,MyriadPro-Regular,AdobeInvisFont;
    font-size: 30px;
    color: #023E78;
    text-align: left;
}
.contact{
    display: flex;
    margin-left: 35%;
}
.contact-text{
    width: 125;
    height: 31;
    color: #565656;
    font-family: MuseoSlab-700,Helvetica-Bold,Helvetica,MyriadPro-Regular,AdobeInvisFont;
    font-size: 12;
    text-align: left;
}

/* //==================== */
.menu-bar{
    width: 960px;
    height: 41px;
    background-color: #11516F;
    margin-left: 170px;
    margin-right: 150px;
}
.menu-bar-text{
    height: 10px;
    background-color: #11516F;
    color: #FFFFFF;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}

/* //==================== */
.navbar{
    width: 960px;
    height: 155px;
    margin-left: 170px;
    margin-right: 150px;
    display: flex;
    background-image: url("./resources/search_bk.png");
}
.logo2{
    margin-left: 42px;
    margin-top: 39px;
    margin-bottom: 34px;
}
.search-area{
    /* display: flex; */
}
.input-area{
    display: flex;
    margin-left:150px;
    margin-top: 39px;
    margin-bottom: 68px;
    margin-right: 47px;
}
.input-area input{
    width: 350px;
    height: 40px;
    border-radius: 12px;
    color: #666666;
    font-size: 15px;
    font-family: ArialMT,MyriadPro-Regular,AdobeInvisFont;
    padding-left: 21px;
}
.input-text-area{
    color: #FFFFFF;
    font-family: MuseoSlab-500,MuseoSlab-700,MyriadPro-Regular,AdobeInvisFont;
    font-size: 17px;
    margin-top: -60px;
    margin-left: 150px;
    height: 33px;
    width: 454px;
}

/* //========================== */
.slideshow{
    width: 960px;
    height: 320px;
    margin-left: 170px;
    margin-right: 150px;
    position: relative;
}
.slideshow-img{
    width: 960px;
    height: 270px;
    opacity: 1;
    /* display: none; */
}
.slideshow-desc{
    width: 960px;
    height: 50px;
    background-color: #384D26;
    opacity: 0.6;
    display: flex;
}
.slideshow-desc-text{
    color: #FFFFFF;
    font-family: Arial-BoldMT,ArialMT,MyriadPro-Regular,AdobeInvisFont;
    font-size: 14px;
    width: 203px;
    height: 30px;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-left: 36px;
    font-weight: bolder;
}
.slideshow-pointers{
    margin-left: 68%;
    padding-top: 20px;
    padding-bottom: 21px;
    height: 10px;
}
.dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #FFFFFF;
  }


  /* //====== main-body */
  .main-body{
    margin-left: 170px;
    margin-right: 150px;
    background-color: white;
    width: 960px;
    position: absolute;
  }

.section1{
    display: flex;
}


/* /===================================== */
  .body-div1{
      width: 181px;
      height: 319px;
      border: 1px solid;
      margin: 19px;
      background-color: #FAFAFA;
  }
  .categories-heading{
      color: #06628D;
      padding-left: 19px;
      padding-right: 87px;
      padding-top: 28px;
      padding-bottom: 5px;
      font-weight: bold;
  }

  .categories{
    margin-left: 15px; 
    padding-top: 10px;
    margin-right: 15px;
    border-top: 2px solid #EEEEEE;
    color: #333333;
    font-family: Arial-BoldMT,MyriadPro-Regular,AdobeInvisFont;
    font-size: 12px;
    font-weight: bolder;
  }
  .categories li{
    list-style: none;
    margin: 3px;
    padding: 2px;
  }


/* //======== body2 div */
.body-div2{
    border: 1px solid;
    width: 720px;
    height: 319px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 19px;
    background-color: #FAFAFA;
}
.body-div2-header{
    color: #06628D;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid;
}
.body-div2-header>.left{
    margin-left: 28px;
    margin-top: 27px;
    margin-bottom: 5px;
}
.body-div2-header>.right{
    margin-left: 61%;
    margin-top: 27px;
    margin-bottom: 5px;
}

/* ============cards area */
.body-div2-body{
    margin-left:  25px;
}
.body-div2-body>.section1{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.section2{
    display: flex;
}
.section3{
    border-top: 1px solid;
}
.profile-card-container{
    margin-right: 5px;
}
.profile-card{
    display: flex;
    width: 312px;
    height: 51px;
    margin: 16px 0px;
}
.profile-pic{
    margin-right: 2px;
}
.profile-desc{
    font-size: 11px;
    width: 260px;
    height: 54px;
}
.profile-desc-heading{
    color: #333333;
    font-weight: bolder;
    padding: 5px;
}
.profile-desc-d{
    color: #AAAAAA;
}

/* ///==== === */
.photo-container{
    width: 39%;
    height: 183px;
    position: absolute;
    background-color: #ECF9FF;
}
.photo-display{
   margin-bottom: 17px;
    margin-top: 17px;
    margin-right: 81px;
    margin-left: 82px; 
   
}

/**********************************************************************************/
.area2{
    margin-top: 0%;
    display: flex;
}
.vertical-ad{
    margin-left: 30px;
}

.content{
    display: flex;
    margin-left: 30px;
}
/* //==== articles */
.articles{
    width: 720px;
    height: 318px;
    background-color: #FAFAFA;
    border: 1px solid;
    
}
.articles>.heading{
    width: 92%;
    height: 47px;
    border-bottom: 1px solid;
    display: flex;
    color: #06628D;
    font-weight: bolder;
    margin-left: 4%;
    font-family: MuseoSlab-700,MyriadPro-Regular,AdobeInvisFont;
}
.articles>.heading>.left{
    margin-left: 28px;
    margin-top: 27px;
    margin-bottom: 5px;
}
.more{
    margin-left: 61%;
    margin-top: 27px;
    margin-bottom: 5px;;
}

/* //============= article */
.article-container{
    display: flex;
    font-size: 11px;
    height: 50px;
    width: 345px;
    margin: 19px 10px;
}
.article-icon{
    margin-right: 5px;
}
.title-desc{
    display: flex;
    margin: 5px 2px;
}
.title-desc>.title{
    color: black;
    font-weight: bold;
}
.date{
    color: #C6C6C6;
}
.description{
    display: flex;
    
}
.article-detail>.desc{
    /* width: 261px; */
    /* height: px; */
}
.description>.read-more{
    color: #478BAA;
}
